<div class="container">
  <h2 class="title">Productos:</h2>
  <hr class="divider" />
    <div class="filters">
    <div class="filter-group">
      <span>Filtrar por precio:</span>
      <button class="filter-button" id="price-asc" onclick="filterByPrice('asc')">Precio Ascendente</button>
      <button class="filter-button" id="price-desc" onclick="filterByPrice('desc')">Precio Descendente</button>
    </div>

    <div class="filter-group">
      <span>Filtrar por categoría:</span>
      <button class="filter-button" id="category-electrodomesticos" onclick="filterByCategory('Electrodomesticos')">Electrodomesticos</button>
      <button class="filter-button" id="category-indumentaria" onclick="filterByCategory('Indumentaria')">Indumentaria</button>
    </div>
  </div>
    <a href="/cart/66e37cd4bae80d56bc96ea23" class="cart-button">
     Ir al Carrito
    </a>
  <ul class="product-list" id="products-list">
    {{#each products}}
      <li class="product-item" id={{this.id}}>
        <h3 class="product-title" >{{this.title}}</h3>
        <p class="product-description"><strong>{{this.description}}</strong></p>
        <p class="product-price">Precio: ${{this.price}}</p>
        <p class="product-stock">Stock: {{this.stock}} unidades</p>
        <div class="product-thumbnails">
          {{#each this.thumbnails}}
            <img src="{{this}}" alt="Imagen de producto" class="thumbnail" />
          {{/each}}
        </div>
        <button class="add-to-cart-button" onclick="addToCart('{{this.id}}')">Agregar al Carrito</button>
      </li>
    {{/each}}
  </ul>
<div class="pagination">

    <button id="prev-page" onclick="goToPage('{{data.prevLink}}')">Anterior</button>


  <span id="page-info">Página {{data.page}} de {{data.totalPages}}</span>

    <button id="next-page"  onclick="goToPage('{{data.nextLink}}')">Siguiente</button>
</div>
</div>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/home.js"></script>