<div class="container">
  <h2 class="title">Productos:</h2>
  <hr class="divider" />
  <ul class="product-list" id="products-list">
    {{#each products}}
      <li class="product-item">
        <h3 class="product-title">{{this.title}}</h3>
        <p class="product-description"><strong>{{this.description}}</strong></p>
        <p class="product-price">Precio: ${{this.price}}</p>
        <p class="product-stock">Stock: {{this.stock}} unidades</p>
        <div class="product-thumbnails">
          {{#each this.thumbnails}}
            <img src="{{this}}" alt="Imagen de producto" class="thumbnail" />
          {{/each}}
        </div>
      </li>
    {{/each}}
  </ul>
</div>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/products.js"></script>